*{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#logo{
    width:300px;
    height:90px;
    background:#4aaaa5;
    float:left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    line-height:45px;
    color:#ffffff;
    font-weight:700;
    font-size:30px;
    text-decoration:none;
    margin-bottom: 0;    
}
#about-me-title.about-me{
    padding:20px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color:#4aaaa5;
}

#footer div{
    text-align: center;
    background:#666666;
    height:75px;
    border-top: 10px solid #4aaaa5;
    color:#ffffff;
    padding:20px;
    margin-top:20px;
}
#project{
    margin:auto;
    padding:auto;
}
#submit.btn.btn-primary.buttton{
    background-color:#4aaaa5;
    height:40px;
    margin:10px;
}
#message.form-control.form-box{
    height:200px;
}
#nav-link.nav-link{
    color:#777777;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#project.card.boards{
    margin:20px;
}
#captions.card-text{
    text-align: center;
    background:#4aaaa5;
    color:#ffffff;
    padding:20px;
}
#bottom-of-card.card-body{
    padding:0;    
}
#project.card-img-top.image-opacity{
    opacity:0.8;
}
#main-container.container{
    padding-bottom:100px;
    background: url(assets/images/ricepaper_@2X.png); 
    width:100%;
    height:100%;   
}

#content-row.row{
    color:#ffffff;
}
#row-width.row{
    width:95%;
    margin:auto;
    background-color:#ffffff;
    padding: 30px;
    border:2px solid #777777;
}
